[submodule "libs/sdl_framework"]
	path = libs/sdl_framework
	url = https://github.com/Gpinchon/sdl_framework.git
[submodule "libs/vml"]
	path = libs/vml
	url = https://github.com/Gpinchon/VML.git
[submodule "libs/ezmem"]
	path = libs/ezmem
	url = https://github.com/Gpinchon/EzMem.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/BarbareBzhdev/jsonParse/
